<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.DagMapper" >
    <insert id="JobInsert" parameterType="Job">
        insert into Job  values(0,#{GraphPath},#{userId},#{pythonFolder},#{jobName},
        #{createTime},#{updateTime},#{Note},#{jobStatus})
        <selectKey resultType="int"  keyProperty="jobId" >
            SELECT @@IDENTITY AS id
        </selectKey>
    </insert>
    <insert id="TaskInset" parameterType="Task">
        insert into Task values (0,#{taskParam},#{jobId},#{nodeId},#{PythonPath},#{modelName})

    </insert>
    <select id="getModelPath" parameterType="string" resultType="string">
        select modelPath from model where modelName=#{model}
    </select>

    <select id="getPythonPath" resultType="string">
        select PythonPath from Task where nodeId=#{arg1} and jobId=#{arg0}
    </select>

    <select id="getNewId" resultType="int">
        select jobId from Job order by jobId desc limit 1
    </select>
    <update id="submitJob" parameterType="Job">
        update Job set GraphPath=#{GraphPath},pythonFolder=#{pythonFolder},updateTime=#{updateTime},jobStatus=#{jobStatus}
        where jobId=#{jobId}
    </update>

    <select id="getJob" resultType="Job">
        select * from Job where jobId = #{jobId}
    </select>
</mapper>